/* 1. ---General Styles--- */
.hidden {
    display: none;
}

#container {
	margin: 0 auto;
	width: 1920px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
    background-color: #DFDFDF;
}

body {
    font-family: 'Montserrat', arial, sans-serif;
    color: #1F221A;
}

#header {
    background-color: #ffffff;
}

/* 2. ---Grid--- */
.grid {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 38px;
	padding-left: 19px;
	padding-right: 19px;
    padding-bottom: 10px;
}

/* 3. ---Header--- */
#logo {
    grid-column: 1/2;
    margin-left: 110px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#main-nav {
    grid-column: 4/10;
    margin-top: 45px;
}

#main-nav ul {
    list-style: none;
}

#main-nav ul li {
    display: inline;
    font-size: 22px;
    margin-right: 39px;
}

#main-nav ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
}

#main-nav ul li a:hover {
    font-size: 23px;
    color: #BC8D0A;
    font-weight: 600;
    letter-spacing: 3px;
}

#search {
    margin-top: 52px;
    border: solid 3px #1f221a;
    border-radius: 100px;
    margin-bottom: 33px;
    grid-column: 10/12;
}

#search img {
    margin-left: 15px;
    margin-top: 10px;
}

#search:checked {
   color: #1f221a;
   cursor: auto;
}

/* 4. main */
.main-header {
    justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 100px;
}

.sub-header {
    justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 30px;
    font-size: 17px;
}

#leila-pic {
    margin-top: 90px;
    grid-column: 3/6;
    border-radius: 300px;
    border: 6px #fff solid;
    padding: 17px;
}

#leila-pic:hover {
    border: 6px #BC8D0A solid;
}

#leila-name {
    grid-column: 4/6;
    margin-top: 35px;
    font-size: 40px;
    margin-left: 10px;
}

#leila-name:hover {
    color: #BC8D0A;
}

#jemima-pic {
    margin-top: 90px;
    grid-column: 7/10;
    margin-left: 50px;
    border-radius: 300px;
    border: 6px #fff solid;
    padding: 17px;
}

#jemima-pic:hover {
    border: 6px #BC8D0A solid;
}

#jemima-name {
    grid-column: 8/11;
    margin-top: 35px;
    font-size: 40px;
    border-radius: 300px;
    margin-left: 25px;
}

#jemima-name:hover {
    color: #BC8D0A;
}

#leila-info h3 {
    grid-column: 3/11;
    font-size: 26px;
    justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 100px;
}

#jemima-info h3 {
    grid-column: 3/11;
    font-size: 26px;
    justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 60px;
}

#leila-education {
    grid-column: 3/7;
}

#leila-education h4 {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
}

#leila-education h5 {
    grid-column: 1/2;
    font-size: 21px;
    padding-top: 25px;
    /* padding: 10px; */
    margin-left: 0px;
    background-color: #BC8D0A;
    height: 45px;
    width: 160px;
    justify-content: center;
	align-items: center;
	text-align: center;
}

#education-info h6 {
    grid-column: 1/4;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
}

#leila-experience{
    margin-top: 70px;
}

#leila-experience h4 {
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 30px;
}

#leila-experience h5 {
    grid-column: 1/2;
    font-size: 21px;
    padding-top: 25px;
    /* padding: 10px; */
    margin-top: -38px;
    /* padding: 10px; */
    margin-left: 0px;
    background-color: #BC8D0A;
    height: 45px;
    width: 160px;
    justify-content: center;
	align-items: center;
	text-align: center;
}

#leila-experience h6 {
    font-size: 20px;
    grid-column: 2/6;
    margin-left: 40px;
    margin-top: 10px;
}

#background-color {
    background-color: #BC8D0A;
    grid-column: 3/11;
}

.box {
    color: #BC8D0A;
    height: 500px;
}

/* 9. ---Footer--- */
#f-logo {
    grid-column: 2/3;  
    margin-top: 124px;
}

#footer {
    background-color: #1F221A;
    color: #fff;
    grid-auto-rows: min-content;
    padding-top: 40px;
}

#footer-nav {
    grid-column: 4/4;
    margin-top: 17px;
    font-size: 20px;
}

#footer-nav h3 {
    margin-left: -20px;
    padding-bottom: 10px;
}

#footer-nav ul { 
    list-style: none;
    grid-column: 1/3;
    margin-top: -20px;
    text-align: center;
    margin-left: -90%;
    line-height: 50px;
}

#footer-nav li a {
    color: #fff;
    text-decoration: none;
}

#footer-icons {
	grid-column: 5/6 ;   
}

#footer-icons ul {
	display: flex;
    list-style: none;
}

#footer-icons ul li {
    padding-left: 30px;
}
 #contact {
    grid-column: 5/7;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
 }

#contact p {
    line-height: 50px;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
    text-align: center;
}
#subscribe {
    grid-column: 7/12;
    font-size: 20px;
    margin-left: 53px;
    margin-top: 10px;
}

#subscribe h2 {
    margin-bottom: 37px;
}

#username {
    grid-column: 7/8;
    width: 273px;
    height: 27px;
    border: solid 2px #fff;
    background-color: #1F221A;
    color:#fff;
    padding: 12px;
    padding-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#mail {
    grid-column: 8/12;
    width: 293px;
    height: 27px;
    border: solid 2px #fff;
    background-color: #1F221A;
    color:#fff;
    padding: 12px;
}

#fav {
    padding: 12px;
	padding-right: 25px;
    background-color: #1F221A;
    margin-bottom: 15px;
    color: #fff;
	width: 635px;
    height: 37px;
    margin-bottom: 20px;
}

#sub {
	border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: #000;
	font-size: 20px;
	width: 160px;
	height: 49px;
}

#sub:hover {
    color: #BC8D0A;
    border: solid 3px #fff;
    background-color: #1F221A;
    font-size: 24px;
}
